openapi: 3.0.3
info:
  title: Porkbun JSON API v3 (Doc-Aligned)
  version: "3.0"
  description: |
    OpenAPI conversion of Porkbun API v3 docs.
    Source: https://porkbun.com/api/json/v3/documentation

    Notes:
    - The docs state the API uses HTTP POST for commands.
    - This spec mirrors endpoint names shown in the docs, including mixed casing.
servers:
  - url: https://api.porkbun.com

tags:
  - name: Utility
  - name: Pricing
  - name: Domain
  - name: DNS
  - name: DNSSEC
  - name: SSL

paths:
  /api/json/v3/ping:
    post:
      tags: [Utility]
      operationId: ping
      summary: Ping API server
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Pong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResponse'

  /api/json/v3/pricing/get:
    post:
      tags: [Pricing]
      operationId: getPricing
      summary: Get default TLD pricing
      responses:
        '200':
          description: Pricing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingResponse'

  /api/json/v3/domain/listAll:
    post:
      tags: [Domain]
      operationId: domainListAll
      summary: List all domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - type: object
                  properties:
                    start:
                      oneOf:
                        - type: integer
                        - type: string
                      description: Optional start index; docs use chunks of 1000.
                    includeLabels:
                      type: string
                      enum: [yes, no]
      responses:
        '200':
          description: Domain list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResponse'

  /api/json/v3/domain/updateNs/{domain}:
    post:
      tags: [Domain]
      operationId: domainUpdateNs
      summary: Update nameservers
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - type: object
                  required: [ns]
                  properties:
                    ns:
                      type: array
                      items:
                        type: string
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/domain/getNs/{domain}:
    post:
      tags: [Domain]
      operationId: domainGetNs
      summary: Get nameservers
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Nameservers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNsResponse'

  /api/json/v3/domain/updateAutoRenew/{domain}:
    post:
      tags: [Domain]
      operationId: domainUpdateAutoRenewForDomain
      summary: Update auto-renew for one domain
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - $ref: '#/components/schemas/UpdateAutoRenewBody'
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoRenewResponse'

  /api/json/v3/domain/updateAutoRenew:
    post:
      tags: [Domain]
      operationId: domainUpdateAutoRenewBulk
      summary: Update auto-renew for multiple domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - $ref: '#/components/schemas/UpdateAutoRenewBody'
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoRenewResponse'

  /api/json/v3/domain/addUrlForward/{domain}:
    post:
      tags: [Domain]
      operationId: domainAddUrlForward
      summary: Add URL forward
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - type: object
                  required: [location, type, includePath, wildcard]
                  properties:
                    subdomain:
                      type: string
                    location:
                      type: string
                    type:
                      type: string
                      enum: [temporary, permanent]
                    includePath:
                      type: string
                      enum: [yes, no]
                    wildcard:
                      type: string
                      enum: [yes, no]
      responses:
        '200':
          description: Add result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/domain/getUrlForwarding/{domain}:
    post:
      tags: [Domain]
      operationId: domainGetUrlForwarding
      summary: Get URL forwards
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Forward records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUrlForwardingResponse'

  /api/json/v3/domain/deleteUrlForward/{domain}/{recordId}:
    post:
      tags: [Domain]
      operationId: domainDeleteUrlForward
      summary: Delete URL forward
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - name: recordId
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
              - type: string
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Delete result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/domain/checkDomain/{domain}:
    post:
      tags: [Domain]
      operationId: domainCheck
      summary: Check domain availability
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Availability response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCheckResponse'

  /api/json/v3/domain/create/{domain}:
    post:
      tags: [Domain]
      operationId: domainCreate
      summary: Create/register domain
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - type: object
                  required: [cost, agreeToTerms]
                  properties:
                    cost:
                      oneOf:
                        - type: integer
                        - type: string
                    agreeToTerms:
                      oneOf:
                        - type: string
                          enum: [yes, "1"]
                        - type: integer
                          enum: [1]
      responses:
        '200':
          description: Create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCreateResponse'

  /api/json/v3/domain/createGlue/{domain}/{host}:
    post:
      tags: [Domain]
      operationId: domainCreateGlue
      summary: Create glue record
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/GlueHostPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - type: object
                  required: [ips]
                  properties:
                    ips:
                      type: array
                      items:
                        type: string
      responses:
        '200':
          description: Create glue response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/domain/updateGlue/{domain}/{host}:
    post:
      tags: [Domain]
      operationId: domainUpdateGlue
      summary: Update glue record
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/GlueHostPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - type: object
                  required: [ips]
                  properties:
                    ips:
                      type: array
                      items:
                        type: string
      responses:
        '200':
          description: Update glue response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/domain/deleteGlue/{domain}/{host}:
    post:
      tags: [Domain]
      operationId: domainDeleteGlue
      summary: Delete glue record
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/GlueHostPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Delete glue response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/domain/getGlue/{domain}:
    post:
      tags: [Domain]
      operationId: domainGetGlue
      summary: Get glue records
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Glue records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGlueResponse'

  /api/json/v3/dns/create/{domain}:
    post:
      tags: [DNS]
      operationId: dnsCreate
      summary: Create DNS record
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - $ref: '#/components/schemas/DnsCreateOrEditBody'
      responses:
        '200':
          description: Create DNS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsCreateResponse'

  /api/json/v3/dns/edit/{domain}/{id}:
    post:
      tags: [DNS]
      operationId: dnsEditById
      summary: Edit DNS record by domain and id
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - $ref: '#/components/schemas/DnsCreateOrEditBody'
      responses:
        '200':
          description: Edit DNS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/dns/editByNameType/{domain}/{type}:
    post:
      tags: [DNS]
      operationId: dnsEditByNameTypeRoot
      summary: Edit DNS records by domain and type (root)
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/TypePath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - $ref: '#/components/schemas/DnsEditByNameTypeBody'
      responses:
        '200':
          description: Edit DNS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/dns/editByNameType/{domain}/{type}/{subdomain}:
    post:
      tags: [DNS]
      operationId: dnsEditByNameTypeSubdomain
      summary: Edit DNS records by domain, type and subdomain
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/SubdomainPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - $ref: '#/components/schemas/DnsEditByNameTypeBody'
      responses:
        '200':
          description: Edit DNS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/dns/delete/{domain}/{id}:
    post:
      tags: [DNS]
      operationId: dnsDeleteById
      summary: Delete DNS record by domain and id
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Delete DNS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/dns/deleteByNameType/{domain}/{type}:
    post:
      tags: [DNS]
      operationId: dnsDeleteByNameTypeRoot
      summary: Delete DNS records by domain and type (root)
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/TypePath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Delete DNS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/dns/deleteByNameType/{domain}/{type}/{subdomain}:
    post:
      tags: [DNS]
      operationId: dnsDeleteByNameTypeSubdomain
      summary: Delete DNS records by domain, type and subdomain
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/SubdomainPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Delete DNS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/dns/retrieve/{domain}:
    post:
      tags: [DNS]
      operationId: dnsRetrieveByDomain
      summary: Retrieve DNS records by domain
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: DNS records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRetrieveResponse'

  /api/json/v3/dns/retrieve/{domain}/{id}:
    post:
      tags: [DNS]
      operationId: dnsRetrieveByDomainAndId
      summary: Retrieve DNS record by domain and id
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: DNS records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRetrieveResponse'

  /api/json/v3/dns/retrieveByNameType/{domain}/{type}:
    post:
      tags: [DNS]
      operationId: dnsRetrieveByNameTypeRoot
      summary: Retrieve DNS records by domain and type (root)
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/TypePath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: DNS records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRetrieveResponse'

  /api/json/v3/dns/retrieveByNameType/{domain}/{type}/{subdomain}:
    post:
      tags: [DNS]
      operationId: dnsRetrieveByNameTypeSubdomain
      summary: Retrieve DNS records by domain, type and subdomain
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - $ref: '#/components/parameters/TypePath'
        - $ref: '#/components/parameters/SubdomainPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: DNS records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRetrieveResponse'

  /api/json/v3/dns/createDnssecRecord/{domain}:
    post:
      tags: [DNSSEC]
      operationId: dnssecCreateRecord
      summary: Create DNSSEC record
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthBody'
                - $ref: '#/components/schemas/DnssecCreateBody'
      responses:
        '200':
          description: Create DNSSEC response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/dns/getDnssecRecords/{domain}:
    post:
      tags: [DNSSEC]
      operationId: dnssecGetRecords
      summary: Get DNSSEC records
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: DNSSEC records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnssecGetResponse'

  /api/json/v3/dns/deleteDnssecRecord/{domain}/{keyTag}:
    post:
      tags: [DNSSEC]
      operationId: dnssecDeleteRecord
      summary: Delete DNSSEC record
      parameters:
        - $ref: '#/components/parameters/DomainPath'
        - name: keyTag
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
              - type: string
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: Delete DNSSEC response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/json/v3/ssl/retrieve/{domain}:
    post:
      tags: [SSL]
      operationId: sslRetrieve
      summary: Retrieve SSL bundle by domain
      parameters:
        - $ref: '#/components/parameters/DomainPath'
      requestBody:
        $ref: '#/components/requestBodies/AuthBody'
      responses:
        '200':
          description: SSL bundle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslRetrieveResponse'

components:
  parameters:
    DomainPath:
      name: domain
      in: path
      required: true
      schema:
        type: string
    IdPath:
      name: id
      in: path
      required: true
      schema:
        oneOf:
          - type: integer
          - type: string
    TypePath:
      name: type
      in: path
      required: true
      schema:
        type: string
    SubdomainPath:
      name: subdomain
      in: path
      required: true
      schema:
        type: string
    GlueHostPath:
      name: host
      in: path
      required: true
      schema:
        type: string
      description: Glue host subdomain (e.g. ns1)

  requestBodies:
    AuthBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthBody'

  schemas:
    AuthBody:
      type: object
      required: [secretapikey, apikey]
      properties:
        secretapikey:
          type: string
        apikey:
          type: string

    StatusResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          example: SUCCESS
        message:
          type: string

    PingResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            yourIp:
              type: string

    PricingItem:
      type: object
      properties:
        registration:
          type: string
        renewal:
          type: string
        transfer:
          type: string

    PricingResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            pricing:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/PricingItem'

    Label:
      type: object
      properties:
        id:
          oneOf:
            - type: integer
            - type: string
        title:
          type: string
        color:
          type: string

    DomainSummary:
      type: object
      properties:
        domain:
          type: string
        status:
          type: string
        tld:
          type: string
        createDate:
          type: string
        expireDate:
          type: string
        securityLock:
          oneOf:
            - type: integer
            - type: string
        whoisPrivacy:
          oneOf:
            - type: integer
            - type: string
        autoRenew:
          oneOf:
            - type: integer
            - type: string
        notLocal:
          oneOf:
            - type: integer
            - type: string
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'

    DomainListResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            domains:
              type: array
              items:
                $ref: '#/components/schemas/DomainSummary'

    GetNsResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            ns:
              type: array
              items:
                type: string

    UpdateAutoRenewBody:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [on, off]
        domains:
          type: array
          items:
            type: string

    UpdateAutoRenewResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            results:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/StatusResponse'

    UrlForwardRecord:
      type: object
      properties:
        id:
          oneOf:
            - type: integer
            - type: string
        subdomain:
          type: string
        location:
          type: string
        type:
          type: string
        includePath:
          type: string
        wildcard:
          type: string

    GetUrlForwardingResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            forwards:
              type: array
              items:
                $ref: '#/components/schemas/UrlForwardRecord'

    DomainCheckPriceInfo:
      type: object
      properties:
        type:
          type: string
        price:
          type: string
        regularPrice:
          type: string

    DomainCheckResponseData:
      type: object
      properties:
        avail:
          type: string
          enum: [yes, no]
        type:
          type: string
        price:
          type: string
        firstYearPromo:
          type: string
          enum: [yes, no]
        regularPrice:
          type: string
        premium:
          type: string
          enum: [yes, no]
        additional:
          type: object
          properties:
            renewal:
              $ref: '#/components/schemas/DomainCheckPriceInfo'
            transfer:
              $ref: '#/components/schemas/DomainCheckPriceInfo'
        minDuration:
          oneOf:
            - type: integer
            - type: string

    RateLimitInfo:
      type: object
      properties:
        TTL:
          oneOf:
            - type: integer
            - type: string
        limit:
          oneOf:
            - type: integer
            - type: string
        used:
          oneOf:
            - type: integer
            - type: string
        naturalLanguage:
          type: string

    DomainCheckResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            response:
              $ref: '#/components/schemas/DomainCheckResponseData'
            limits:
              $ref: '#/components/schemas/RateLimitInfo'

    DomainCreateLimits:
      type: object
      properties:
        attempts:
          $ref: '#/components/schemas/RateLimitInfo'
        success:
          $ref: '#/components/schemas/RateLimitInfo'

    DomainCreateResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            domain:
              type: string
            cost:
              oneOf:
                - type: integer
                - type: string
            orderId:
              oneOf:
                - type: integer
                - type: string
            limits:
              $ref: '#/components/schemas/DomainCreateLimits'
            balance:
              oneOf:
                - type: integer
                - type: string

    GlueHostIPs:
      type: object
      properties:
        v4:
          type: array
          items:
            type: string
        v6:
          type: array
          items:
            type: string

    GlueHostEntry:
      type: array
      minItems: 2
      maxItems: 2
      items:
        oneOf:
          - type: string
          - $ref: '#/components/schemas/GlueHostIPs'

    GetGlueResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            hosts:
              type: array
              items:
                $ref: '#/components/schemas/GlueHostEntry'

    DnsCreateOrEditBody:
      type: object
      required: [type, content]
      properties:
        name:
          type: string
          description: Optional subdomain; blank means root.
        type:
          type: string
        content:
          type: string
        ttl:
          oneOf:
            - type: integer
            - type: string
        prio:
          oneOf:
            - type: integer
            - type: string
        notes:
          type: string

    DnsEditByNameTypeBody:
      type: object
      required: [content]
      properties:
        content:
          type: string
        ttl:
          oneOf:
            - type: integer
            - type: string
        prio:
          oneOf:
            - type: integer
            - type: string
        notes:
          type: string

    DnsRecord:
      type: object
      properties:
        id:
          oneOf:
            - type: integer
            - type: string
        name:
          type: string
        type:
          type: string
        content:
          type: string
        ttl:
          oneOf:
            - type: integer
            - type: string
        prio:
          oneOf:
            - type: integer
            - type: string
        notes:
          type: string

    DnsCreateResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            id:
              oneOf:
                - type: integer
                - type: string

    DnsRetrieveResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            records:
              type: array
              items:
                $ref: '#/components/schemas/DnsRecord'

    DnssecCreateBody:
      type: object
      required: [keyTag, alg, digestType, digest]
      properties:
        keyTag:
          oneOf:
            - type: integer
            - type: string
        alg:
          type: string
        digestType:
          type: string
        digest:
          type: string
        maxSigLife:
          type: string
        keyDataFlags:
          type: string
        keyDataProtocol:
          type: string
        keyDataAlgo:
          type: string
        keyDataPubKey:
          type: string

    DnssecRecord:
      type: object
      properties:
        keyTag:
          oneOf:
            - type: integer
            - type: string
        alg:
          type: string
        digestType:
          type: string
        digest:
          type: string

    DnssecGetResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            records:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/DnssecRecord'

    SslRetrieveResponse:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            certificatechain:
              type: string
            privatekey:
              type: string
            publickey:
              type: string
